{% extends "base.html" %} {% block content %}

<nav class="navbar navbar-expand-lg navbar-light bg-light fixed-top">
  <div class="container">
    <a class="navbar-brand" href="#">
      PLANT DOCTOR</a
    >
    <button
      class="navbar-toggler"
      type="button"
      data-toggle="collapse"
      data-target="#navbarSupportedContent"
      aria-controls="navbarSupportedContent"
      aria-expanded="false"
      aria-label="Toggle navigation"
    >
      <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav ml-auto">
        <li class="nav-item">
          <a class="nav-link" href="#home">Home</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#features">How it Works?</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#diseases">Leaf diseases</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#diseases">About Us</a>
        </li>
      </ul>
    </div>
  </div>
</nav>

<div class="masthead text-center">
  <div class="overlay"></div>
    <div class="container">
      <div class="row">
        <div class="col-xl-9 mx-auto">

          <div class="main">
            <div class="title">
              <h1>PLANT DOCTOR</h1>
              <h2>Banana, Paddy and Tomato Leaf Disease Detector</h2>
              <p>Try it out!</p> 
            </div>
          
            <div class="frame">
              <div class="panel">
                <input id="file-upload" class="hidden" type="file" accept="image/x-png,image/gif,image/jpeg" />
                <label for="file-upload" id="file-drag" class="upload-box">
                  <div id="upload-caption">Drop image here or click to select.</div>
                  <img id="image-preview" class="hidden" />
                </label>
              </div>
              <div style="margin-bottom: 2rem;">
                <input type="button" value="Submit" class="button" onclick="submitImage();" />
                <input type="button" value="Clear" class="button" onclick="clearImage();" />
              </div>
            
              <div id="image-box">
                <img id="image-display" />
                <div id="pred-result" class="hidden"></div>
                <svg id="loader" class="hidden" viewBox="0 0 32 32" width="32" height="32">
                  <circle id="spinner" cx="16" cy="16" r="14" fill="none"></circle>
                </svg>
              </div>
            </div>
          </div>
    
        </div>
      </div>
      
    </div>
  </div>

  <section class="white-section" id="features">
    <div class="container-fluid">
      <h2 class="mb-5">HOW IT WORKS?</h2>
      <div class="row">
        <div class="feature-box col-lg-4">
          <i class="icon fas fa-mobile-alt fa-4x"></i>
          <h3 class="feature-title">1. Capture a Picture.</h3>
          <p>Take a picture of your plant leaf and store it in computer.</p>
        </div>
        <div class="feature-box col-lg-4">
          <i class="icon fas fa-file-upload fa-4x"></i>
          <h3 class="feature-title">2. Upload image.</h3>
          <p>Visit Plant Doctor on your device and upload your picture.</p>
        </div>
        <div class="feature-box col-lg-4">
          <i class="icon fas fa-list fa-4x"></i>
          <h3 class="feature-title">3. Get final report.</h3>
          <p>Plant Doctor will analyze your plant and displays the report.</p>
        </div>
      </div>
    </div>
  </section>
  
  <section id="diseases" class="showcase">
    <div class="container-fluid p-0">
      <h2 class="mb-5">PLANT LEAF DISEASES</h2>
      <div class="row no-gutters">
        <div
          class="col-lg-6 order-lg-2 text-white showcase-img"
          style="background-image: url('brown_spot.jpg');"
        ></div>
        <div class="col-lg-6 order-lg-1 my-auto showcase-text">
          <h2>Brown Spot of Paddy</h2>
          <p class="lead mb-0"><i>Cochliobolus miyabeanus (syn. Bipolaris oryzae, Helminthosporium oryzae)</i></p>
        </div>
      </div>
      <div class="row no-gutters">
        <div
          class="col-lg-6 text-white showcase-img"
          style="background-image: url('rice_blast-1500x750.jpg');"
        ></div>
        <div class="col-lg-6 my-auto showcase-text">
          <h2>Rice Blast of Paddy</h2>
          <p class="lead mb-0"><i>Magnaporthe oryzae (anamorph: Pyricularia oryzae)</i></p>
        </div>
      </div>
      <div class="row no-gutters">
        <div
          class="col-lg-6 order-lg-2 text-white showcase-img"
          style="background-image: url('xanthomonas.jpg');"
        ></div>
        <div class="col-lg-6 order-lg-1 my-auto showcase-text">
          <h2>Xanthomonas Wilt of Banana</h2>
          <p class="lead mb-0"><i>(Xanthomonas campestris pv. musacearum)</i></p>
        </div>
      </div>
      <div class="row no-gutters">
        <div
          class="col-lg-6 text-white showcase-img"
          style="background-image: url('blacksigatoka.jpg');"
        ></div>
        <div class="col-lg-6 my-auto showcase-text">
          <h2>Black Sigatoka of banana </h2>
          <p class="lead mb-0"><i>(Mycosphaerella fijiensis)</i></p>
        </div>
      </div>
      <div class="row no-gutters">
        <div
          class="col-lg-6 order-lg-2 text-white showcase-img"
          style="background-image: url('mosaic.jpg');"
        ></div>
        <div class="col-lg-6 order-lg-1 my-auto showcase-text">
          <h2>Tomato mosaic virus</h2>
          <p class="lead mb-0"><i>(Tobamovirus)</i></p>
        </div>
      </div>
      <div class="row no-gutters">
        <div
          class="col-lg-6 text-white showcase-img"
          style="background-image: url('Tomatoblight.jpeg');"
        ></div>
        <div class="col-lg-6 my-auto showcase-text">
          <h2>Tomato late blight</h2>
          <p class="lead mb-0"><i>(Phytophthora infestans)</i></p>
        </div>
      </div>
    </div>
  </section>

  <footer class="footer">
    <div class="container">
      <div class="row">
        <div class="col-lg-6 h-100 text-center text-lg-left my-auto">
          <ul class="list-inline mb-2">
            <li class="list-inline-item">
              <a class="details" href="#">About</a>
            </li>
            <li class="list-inline-item">&sdot;</li>
            <li class="list-inline-item">
              <a class="details" href="mailto:bioquadkerala@gmail.com">Contact</a>
            </li>
          </ul>
          <p class="text-muted small mb-4 mb-lg-0">
            &copy; Plant Doctor 2020. All Rights Reserved.
          </p>
        </div> 
      </div>
    </div>
  </footer>
   

{% endblock %}
